<p>
  PLease select the version you are playing.
</p>

<mat-form-field>
	<mat-label>Version</mat-label>
	<mat-select [(ngModel)]="selectedVersion">
		<mat-option *ngFor="let food of version.results" [value]="food.url">
		{{food.name}}
		</mat-option>
	</mat-select>
</mat-form-field>

<div *ngIf="selectedVersion !== undefined">
	<app-single-pokemon></app-single-pokemon>
</div>
