<div class="page-wrapper">
	<div id="wrapper" class="pokedex-wrapper wrapper row">
		<div class="col-12">
			<div class="row">
				<div class="col-3">
					<img src="{{selectedPokemon?.sprites.front_default}}"/>
					
				</div>
				<div class="col-9 pokemon-type">
					<img class="badge" *ngFor="let type of pokemonTypes" src="../../../assets/types/type-{{type}}.png"/>
				</div>
			</div>
		</div>
		<div id="positiveEffects" class="col-12">
			<div *ngIf="damageModel.quadDamage.length > 0" class="damage-section">
					<h3>4x Damage</h3> 
					<img class="badge" [ngClass]="damage.from" *ngFor="let damage of damageModel.quadDamage" src="../../../assets/types/type-{{damage.to}}.png"/>
			</div>
			<div *ngIf="damageModel.doubleDamage.length > 0" class="damage-section">
				<h3>2x Damage</h3>
				<img class="badge" [ngClass]="damage.from" *ngFor="let damage of damageModel.doubleDamage" src="../../../assets/types/type-{{damage.to}}.png"/>
			</div>
		</div>
		<div id="negativeEffects" class="col-12">
			<div *ngIf="damageModel.halfDamage.length > 0" class="damage-section">
				<h3>1/2 Damage</h3>
				<img class="badge" [ngClass]="damage.from" *ngFor="let damage of damageModel.halfDamage" src="../../../assets/types/type-{{damage.to}}.png"/>
			</div>
			<div *ngIf="damageModel.quarterDamage.length > 0" class="damage-section">
				<h3>1/4 Damage</h3>
				<img class="badge" [ngClass]="damage.from" *ngFor="let damage of damageModel.quarterDamage" src="../../../assets/types/type-{{damage.to}}.png"/>
				
			</div>
			<div *ngIf="damageModel.noDamage.length > 0" class="damage-section">
				<h3>No Damage</h3>
				<img class="badge" [ngClass]="damage.from" *ngFor="let damage of damageModel.noDamage" src="../../../assets/types/type-{{damage.to}}.png"/>
				
			</div>
		</div>
	</div>

	<footer>
		<form class="search-form">
			<mat-form-field style="padding-left: 80px">
			<input type="text" placeholder="Pokemon" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  id="pokemonSelector">
				<mat-autocomplete #auto="matAutocomplete" (optionSelected)='getSelection($event.option.value)' [displayWith]="displayFn" md-dropdown-position="top" >
					<mat-option *ngFor="let chosenPokemon of filteredOptions | async" [value]="chosenPokemon">
						{{chosenPokemon.name}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</form>
		<button class="clear-button" mat-raised-button (click)="clearInput()">Clear</button>
		<div class="row">
			<div class="col-6">
				<mat-card>Special Defense:{{selectedPokemon?.stats[1].base_stat}}</mat-card>
			</div>
			<div class="col-6">
				<mat-card><div>Defense:{{selectedPokemon?.stats[3].base_stat}}</div></mat-card>
			</div>
		</div>
	</footer>
</div>
