.badge
	width: 80px
	margin: 2px
	display: inline-table !important

.damage-section
	border-top: 1px solid darkgray
	color: white

.page-wrapper
	background: black
	position: fixed
	height: 100%
	width: 100%
	top: 0
	left: 0

.wrapper
	margin-bottom: -150px
	padding-bottom: 150px
	margin-left: auto
	margin-right: auto
	height: calc(100% - 150px)
	width: 99%
	z-index: 1
	overflow-y: scroll
	-webkit-overflow-scrolling: touch
	-webkit-mask-image: -webkit-radial-gradient(white, black)

.pokedex-wrapper
	background: #292929
	margin: 2px
	border-top-left-radius: 45px
	border-top-right-radius: 45px
	background: #292929
	border: 2px solid white

.pokemon-type
	text-align: right

.bug
	background: #1c4b29

.dark
	background: #040706

.dragon
	background: #458a93

.electric
	background: #e3e32b

.fairy
	background: #971944

.fighting
	background: #974125

.fire
	background: #ab2021

.flying
	background: #4a677b

.ghost
	background: #323469

.grass
	background: #157a3d

.ground
	background: #a7712a

.ice
	background: #86d2f5

.normal
	background: #73525b

.poison
	background: #5e2d88

.psychic
	background: #a32c66

.rock
	background: #48180b

.steel
	background: #5f756d

.water
	background: #1451e0