.mappingImage
	height: 35px

.type-mapping-number
	font-weight: 700
	font-size: 27px

.type-mapping-image
	padding-top: 2px

.has-slider
	overflow: hidden
	width: 100%

.slider
	width: 300vw // 1
	&.is-animating
		transition: transform 200ms cubic-bezier( 1, 1,1, 1 )

.slider-panel
	display: inline-block
	width: 100vw

.suggestion-role
	height: 19px !important
	background: black
	color: white 