

<div class="has-slider">
	<div class="slider" (pan)="onPan($event)">
		<div class="slider-panel" style="background:red">
			<mat-grid-list cols="2" rowHeight="5:1">
				<mat-grid-tile *ngFor="let typeMapping of typeMappings">
					<div class="row" *ngIf="typeMapping.name.toLowerCase() !== 'shadow' && typeMapping.name.toLowerCase() !== 'unknown'">
						<div class="col-9 type-mapping-image">
							<img class="mappingImage" src="../../../assets/typeText/text-type-{{typeMapping.name}}.png">
						</div>
						<div class="col-3 type-mapping-number"> 
							{{typeMapping.number}}
						</div>
					</div>
				</mat-grid-tile>
		</mat-grid-list>
		</div>
		<div class="slider-panel" style="background:blue">
			<mat-list role="list">
				<mat-list-item class="suggestion-role" role="listitem" *ngFor="let type of typeSuggestion">{{type.name}}:{{type.number}}</mat-list-item>
			</mat-list>
		</div>
	  <div class="slider-panel" style="background:yellow"></div>
	</div>
  </div>
  


<!-- <form class="search-form" *ngFor="let space of typeSpaces">
	<mat-form-field style="padding-left: 80px">
		<input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  id="typeSelector{{space.option}}">
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)='getSelection(space.option, $event.option.value)' [displayWith]="displayTypeForSelect" md-dropdown-position="top" >
			<mat-option *ngFor="let type of filteredOptions | async" [value]="type">
				{{type.name}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</form> -->


<mat-accordion>
	<mat-expansion-panel *ngFor="let pokemon of pokemonArray" class="pokemonSpace{{pokemon.space}}">
		<mat-expansion-panel-header>
			<mat-panel-title *ngIf="pokemon.pokemon === undefined">
				<input matInput type="text" placeholder="Pokemon {{pokemon.space}}" id="pokemon{{pokemon.space}}">
			</mat-panel-title>
			<mat-panel-title *ngIf="pokemon.pokemon !== undefined">
				{{pokemon.name}}
			</mat-panel-title>
		</mat-expansion-panel-header>
			<mat-form-field style="padding-left: 80px" *ngFor="let type of pokemon.type">
				<input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  id="typeSelector{{pokemon.space}}{{type.option}}">
				<mat-autocomplete #auto="matAutocomplete" (optionSelected)='getSelection(pokemon.space, type.option, $event.option.value)' [displayWith]="displayTypeForSelect" md-dropdown-position="top" >
					<mat-option *ngFor="let type of filteredOptions | async" [value]="type">
						{{type.name}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
	</mat-expansion-panel>  
</mat-accordion>
