/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,body {
	height: 80vh;
	margin: 0;
	position: relative;
}

body.noScroll{
	overflow: hidden;
}

footer {
	padding-top: 10px;
	height: 150px;
	// padding-left: 100px;
	background: white;
	border-top: solid 2px grey;

	position: absolute; 
	bottom:0; 
	left:0; 
	width:100%; 
	z-index:11;
}

.clear-button{
	float: right;
	margin: 7px 15px 0 0 !important;
}

.search-form{
	display: inline;
}

:host /deep/ #cdk-overlay-0{
	top: unset !important;
	bottom:500px !important;
}